* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-image {
  background-color: rgba(0, 0, 0, 0.655);
  padding: 0 20px;
  display: flex;
}

.wrapper-image img {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 25px;
  transition: .3s;
}

.wrapper-image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
